header {
    text-align: left;
}

nav {
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

form {
    text-align: right;
    line-height: 50px;
}

#content {
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    padding: 40px;
}

aside {
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    padding: 10px;
}

a {
    float: left;
    padding: 10px;
}

.circulo {
    background: red;
    border-radius: 50px;
    float: left;
    width: 70px;
    height: 70px;
}

.info {
    float: right
}

footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
}